<div class="row justify-content-center text-center pb-5">
    <div class="col-12">
        <p class="text-center">Используйте qr код: </p>
        <div class="sell-qr">
            <img class="sell-qr-img" src="" alt="qrcode">
        </div>
        <br>
        <small>
            Скан работает только через камеру вконтакте.<br>(Перейдите на вкладку новостей, сделайте свайп слева-направо или же нажмите на кнопку камеры в левом верхнем углу.
            Наведите
            камеру на код. Готово!)
        </small>
    </div>
    <div class="col-12 pt-3">
        <p>
            Или перейдите по ссылке <b>в приложении</b>
            ВКонтакте:
        </p>
        <a class="sell-coin-url" href="{{ link }}" target="_blank">{{ link }}</a>
        <p>
            <a class="sell-coin-url btn btn-success stretched-link" href="{{ link }}" target="_blank">Перевести VK Coin</a>
        </p>
    </div>
</div>